<%- include('partials/header', { headTitle: headTitle }) %>
<%- include('partials/menu', { menuLinks: menuLinks, activeLinkPath: activeLinkPath }) %>

<h1 class="heading"><%= headTitle %></h1>
<p>Żądana strona nie została znaleziona.</p>

<%- include('partials/footer') %>